Ax2012WCFService/Ax2012WCFService.Service/Service References/UploadCustomerService/xppservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd7" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/QTQ_STG_Customer" />
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="QTQ_STG_CustomerServiceFindRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_CustomerServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerServiceFindRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerServiceFindResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_CustomerServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerServiceReadRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_CustomerServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerServiceReadRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerServiceReadResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_CustomerServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_CustomerServiceUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerServiceUpdateRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerServiceUpdateResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_CustomerServiceUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerService_update_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_CustomerServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerServiceCreateRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_CustomerServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_CustomerService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:portType name="QTQ_STG_CustomerService">
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/find" name="QTQ_STG_CustomerServiceFindRequest" message="tns:QTQ_STG_CustomerServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/findResponse" name="QTQ_STG_CustomerServiceFindResponse" message="tns:QTQ_STG_CustomerServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/findAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_CustomerService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/read" name="QTQ_STG_CustomerServiceReadRequest" message="tns:QTQ_STG_CustomerServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/readResponse" name="QTQ_STG_CustomerServiceReadResponse" message="tns:QTQ_STG_CustomerServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/readAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_CustomerService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/update" name="QTQ_STG_CustomerServiceUpdateRequest" message="tns:QTQ_STG_CustomerServiceUpdateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/updateResponse" name="QTQ_STG_CustomerServiceUpdateResponse" message="tns:QTQ_STG_CustomerServiceUpdateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/updateAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_CustomerService_update_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/create" name="QTQ_STG_CustomerServiceCreateRequest" message="tns:QTQ_STG_CustomerServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/createResponse" name="QTQ_STG_CustomerServiceCreateResponse" message="tns:QTQ_STG_CustomerServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_CustomerService/createAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_CustomerService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>