Ax2012WCFService.Service/Service References/UploadPurchOrderService/RoutingService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/netfx/2009/05/routing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://tempuri.org" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoutingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="serviceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_TEC_STG_PurchOrderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/netfx/2009/05/routing" location="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/TECPurchOrderService/xppservice.svc?wsdl=wsdl0" />
  <wsdl:import namespace="http://tempuri.org" location="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/TECPurchOrderService/xppservice.svc?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="serviceEndpoint" type="i0:IRequestReplyRouter">
    <wsp:PolicyReference URI="#serviceEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_TEC_STG_PurchOrderService" type="i1:TEC_STG_PurchOrderService">
    <wsp:PolicyReference URI="#BasicHttpBinding_TEC_STG_PurchOrderService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="read">
      <soap:operation soapAction="http://tempuri.org/TEC_STG_PurchOrderService/read" style="document" />
      <wsdl:input name="TEC_STG_PurchOrderServiceReadRequest">
        <soap:header message="i1:TEC_STG_PurchOrderServiceReadRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TEC_STG_PurchOrderServiceReadResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getChangedKeys">
      <soap:operation soapAction="http://tempuri.org/TEC_STG_PurchOrderService/getChangedKeys" style="document" />
      <wsdl:input name="TEC_STG_PurchOrderServiceGetChangedKeysRequest">
        <soap:header message="i1:TEC_STG_PurchOrderServiceGetChangedKeysRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TEC_STG_PurchOrderServiceGetChangedKeysResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://tempuri.org/TEC_STG_PurchOrderService/create" style="document" />
      <wsdl:input name="TEC_STG_PurchOrderServiceCreateRequest">
        <soap:header message="i1:TEC_STG_PurchOrderServiceCreateRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TEC_STG_PurchOrderServiceCreateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <soap:operation soapAction="http://tempuri.org/TEC_STG_PurchOrderService/getKeys" style="document" />
      <wsdl:input name="TEC_STG_PurchOrderServiceGetKeysRequest">
        <soap:header message="i1:TEC_STG_PurchOrderServiceGetKeysRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TEC_STG_PurchOrderServiceGetKeysResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/TEC_STG_PurchOrderService/update" style="document" />
      <wsdl:input name="TEC_STG_PurchOrderServiceUpdateRequest">
        <soap:header message="i1:TEC_STG_PurchOrderServiceUpdateRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TEC_STG_PurchOrderServiceUpdateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <soap:operation soapAction="http://tempuri.org/TEC_STG_PurchOrderService/findKeys" style="document" />
      <wsdl:input name="TEC_STG_PurchOrderServiceFindKeysRequest">
        <soap:header message="i1:TEC_STG_PurchOrderServiceFindKeysRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TEC_STG_PurchOrderServiceFindKeysResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/TEC_STG_PurchOrderService/delete" style="document" />
      <wsdl:input name="TEC_STG_PurchOrderServiceDeleteRequest">
        <soap:header message="i1:TEC_STG_PurchOrderServiceDeleteRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TEC_STG_PurchOrderServiceDeleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/TEC_STG_PurchOrderService/find" style="document" />
      <wsdl:input name="TEC_STG_PurchOrderServiceFindRequest">
        <soap:header message="i1:TEC_STG_PurchOrderServiceFindRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TEC_STG_PurchOrderServiceFindResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingService">
    <wsdl:port name="serviceEndpoint" binding="tns:serviceEndpoint">
      <soap:address location="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/TECPurchOrderService/xppservice.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_TEC_STG_PurchOrderService" binding="tns:BasicHttpBinding_TEC_STG_PurchOrderService">
      <soap:address location="http://smurfette.oyezstraker.co.uk:82/MicrosoftDynamicsAXAif60/TECPurchOrderService/xppservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>