Ax2012WCFService/Ax2012WCFService.Service/Service References/UploadVendorService/xppservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd11" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd14" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/QTQ_STG_Vendor" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd13" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="QTQ_STG_VendorServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceCreateRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceUpdateRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceUpdateResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorService_update_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceDeleteRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceDeleteRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceDeleteResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorService_delete_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceGetChangedKeysRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceGetChangedKeysRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceGetChangedKeysRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceGetChangedKeysResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceGetChangedKeysResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorService_getChangedKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceGetKeysRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceGetKeysRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceGetKeysRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceGetKeysResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceGetKeysResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorService_getKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceReadRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceReadRequest_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q11:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceReadResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q12:AifFault" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceFindKeysRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceFindKeysRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceFindKeysRequest_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceFindKeysResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceFindKeysResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorService_findKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q14:AifFault" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceFindRequest">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceFindRequest_Headers">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q15:CallContext" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorServiceFindResponse">
    <wsdl:part name="parameters" element="tns:QTQ_STG_VendorServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="QTQ_STG_VendorService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q16:AifFault" />
  </wsdl:message>
  <wsdl:portType name="QTQ_STG_VendorService">
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/create" name="QTQ_STG_VendorServiceCreateRequest" message="tns:QTQ_STG_VendorServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/createResponse" name="QTQ_STG_VendorServiceCreateResponse" message="tns:QTQ_STG_VendorServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/createAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_VendorService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/update" name="QTQ_STG_VendorServiceUpdateRequest" message="tns:QTQ_STG_VendorServiceUpdateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/updateResponse" name="QTQ_STG_VendorServiceUpdateResponse" message="tns:QTQ_STG_VendorServiceUpdateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/updateAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_VendorService_update_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/delete" name="QTQ_STG_VendorServiceDeleteRequest" message="tns:QTQ_STG_VendorServiceDeleteRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/deleteResponse" name="QTQ_STG_VendorServiceDeleteResponse" message="tns:QTQ_STG_VendorServiceDeleteResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/deleteAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_VendorService_delete_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChangedKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/getChangedKeys" name="QTQ_STG_VendorServiceGetChangedKeysRequest" message="tns:QTQ_STG_VendorServiceGetChangedKeysRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/getChangedKeysResponse" name="QTQ_STG_VendorServiceGetChangedKeysResponse" message="tns:QTQ_STG_VendorServiceGetChangedKeysResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/getChangedKeysAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_VendorService_getChangedKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/getKeys" name="QTQ_STG_VendorServiceGetKeysRequest" message="tns:QTQ_STG_VendorServiceGetKeysRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/getKeysResponse" name="QTQ_STG_VendorServiceGetKeysResponse" message="tns:QTQ_STG_VendorServiceGetKeysResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/getKeysAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_VendorService_getKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/read" name="QTQ_STG_VendorServiceReadRequest" message="tns:QTQ_STG_VendorServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/readResponse" name="QTQ_STG_VendorServiceReadResponse" message="tns:QTQ_STG_VendorServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/readAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_VendorService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/findKeys" name="QTQ_STG_VendorServiceFindKeysRequest" message="tns:QTQ_STG_VendorServiceFindKeysRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/findKeysResponse" name="QTQ_STG_VendorServiceFindKeysResponse" message="tns:QTQ_STG_VendorServiceFindKeysResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/findKeysAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_VendorService_findKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/find" name="QTQ_STG_VendorServiceFindRequest" message="tns:QTQ_STG_VendorServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/findResponse" name="QTQ_STG_VendorServiceFindResponse" message="tns:QTQ_STG_VendorServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/QTQ_STG_VendorService/findAifFaultFault" name="AifFaultFault" message="tns:QTQ_STG_VendorService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>