Ax2012WCFService.Service/Service References/UploadSalesInvoiceService/RoutingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/netfx/2009/05/routing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoutingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="serviceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_QTQ_STG_SalesInvoiceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/netfx/2009/05/routing" location="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQSalesInvService/xppservice.svc?wsdl=wsdl0" />
  <wsdl:import namespace="http://schemas.microsoft.com/dynamics/2008/01/services" location="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQSalesInvService/xppservice.svc?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="serviceEndpoint" type="i0:IRequestReplyRouter">
    <wsp:PolicyReference URI="#serviceEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_QTQ_STG_SalesInvoiceService" type="i1:QTQ_STG_SalesInvoiceService">
    <wsp:PolicyReference URI="#BasicHttpBinding_QTQ_STG_SalesInvoiceService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="update">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/QTQ_STG_SalesInvoiceService/update" style="document" />
      <wsdl:input name="QTQ_STG_SalesInvoiceServiceUpdateRequest">
        <soap:header message="i1:QTQ_STG_SalesInvoiceServiceUpdateRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QTQ_STG_SalesInvoiceServiceUpdateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/QTQ_STG_SalesInvoiceService/create" style="document" />
      <wsdl:input name="QTQ_STG_SalesInvoiceServiceCreateRequest">
        <soap:header message="i1:QTQ_STG_SalesInvoiceServiceCreateRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QTQ_STG_SalesInvoiceServiceCreateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getChangedKeys">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/QTQ_STG_SalesInvoiceService/getChangedKeys" style="document" />
      <wsdl:input name="QTQ_STG_SalesInvoiceServiceGetChangedKeysRequest">
        <soap:header message="i1:QTQ_STG_SalesInvoiceServiceGetChangedKeysRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QTQ_STG_SalesInvoiceServiceGetChangedKeysResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/QTQ_STG_SalesInvoiceService/delete" style="document" />
      <wsdl:input name="QTQ_STG_SalesInvoiceServiceDeleteRequest">
        <soap:header message="i1:QTQ_STG_SalesInvoiceServiceDeleteRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QTQ_STG_SalesInvoiceServiceDeleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/QTQ_STG_SalesInvoiceService/findKeys" style="document" />
      <wsdl:input name="QTQ_STG_SalesInvoiceServiceFindKeysRequest">
        <soap:header message="i1:QTQ_STG_SalesInvoiceServiceFindKeysRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QTQ_STG_SalesInvoiceServiceFindKeysResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/QTQ_STG_SalesInvoiceService/find" style="document" />
      <wsdl:input name="QTQ_STG_SalesInvoiceServiceFindRequest">
        <soap:header message="i1:QTQ_STG_SalesInvoiceServiceFindRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QTQ_STG_SalesInvoiceServiceFindResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/QTQ_STG_SalesInvoiceService/read" style="document" />
      <wsdl:input name="QTQ_STG_SalesInvoiceServiceReadRequest">
        <soap:header message="i1:QTQ_STG_SalesInvoiceServiceReadRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QTQ_STG_SalesInvoiceServiceReadResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/QTQ_STG_SalesInvoiceService/getKeys" style="document" />
      <wsdl:input name="QTQ_STG_SalesInvoiceServiceGetKeysRequest">
        <soap:header message="i1:QTQ_STG_SalesInvoiceServiceGetKeysRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QTQ_STG_SalesInvoiceServiceGetKeysResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingService">
    <wsdl:port name="serviceEndpoint" binding="tns:serviceEndpoint">
      <soap:address location="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQSalesInvService/xppservice.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_QTQ_STG_SalesInvoiceService" binding="tns:BasicHttpBinding_QTQ_STG_SalesInvoiceService">
      <soap:address location="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQSalesInvService/xppservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>