Ax2012WCFService/Ax2012WCFService.Service/Service References/UploadInventService/xppservice9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/TecInventService/xppservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/TecInventService/xppservice.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/TEC_STG_Invent" />
  <xs:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/TecInventService/xppservice.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/TecInventService/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" />
  <xs:import schemaLocation="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/TecInventService/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" />
  <xs:element name="TEC_STG_InventServiceDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q1:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q2:EntityKeyList" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2008/01/documents/TEC_STG_Invent" minOccurs="0" ref="q3:TEC_STG_Invent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/TEC_STG_Invent" minOccurs="0" ref="q4:TEC_STG_Invent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q5:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q6:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/dynamics/2008/01/documents/TEC_STG_Invent" minOccurs="0" ref="q7:TEC_STG_Invent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q8:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/dynamics/2008/01/documents/TEC_STG_Invent" minOccurs="0" ref="q9:TEC_STG_Invent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceGetKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q10:DocumentPaging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceGetKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q11:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceFindKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q12:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceFindKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q13:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceGetChangedKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q14:DocumentPaging" />
        <xs:element minOccurs="0" name="_changedDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEC_STG_InventServiceGetChangedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q15:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>